.intro {
    background-color: #f0af58;
    position: relative;
    .canvas {
        z-index: -1;
        height: 100%;
        overflow: hidden;
    }

    .imgContainer {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: #f5f5f5;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 250px;
        height: 250px;
        img {
            height: 100%;
        }
    }

    .wrapper {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        .content {
            display: flex;
            flex-direction: column;
            // justify-content:space-between;
            color: #f5f5f5;
            // text-align: center;
            // margin: 10px;
            h2 {
                font-size: 40px;
            }
            h3 {
                font-size: 30px;
            }

        }
    }
    a {
        position: absolute;
        color:#f5f5f5;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        .arrow {
            font-size: 50px;
            color:#f5f5f5;
            animation: arrowBlink 2s infinite;
        }
    }

    @keyframes arrowBlink {
        100%{
            opacity: 0;
        }
    }

}